/* Global CSS */

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: "Roboto", sans-serif;
	-moz-osx-font-smoothing: "Roboto", sans-serif;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

:root {
	--primary: #9553e7;
	--heading-color: #282938;
	--bg-shade: #c999ff8a;;
	--darkblue: #1b1e34;
	--black: #000000;
	--white: #ffffff;
	--hover-text: #76178e;
}

/* Main Headings */

h1 {
	font-size: 56px;
	font-weight: 700;
	line-height: 67px;
}

h2 {
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
}

.text-lg {
	color: var(--darkblue);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
}

.text-md {
	color: var(--darkblue);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.text-sm {
	color: var(--black);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
}

/* Section Titles */

.section--title {
	color: var(--heading-color);
	font-size: 21px;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	display: flex;
	align-items: flex-start;
}

/* Section Titles Ends */

/* Navbar Style Start */

.navbar-style {
	color: #fff;
	z-index: 2;
	padding-top: 20px;
	background: var(--primary);
	box-shadow: 0px 6px 80px 0 rgba(0, 0, 0, 0.3);
}

.nav-item {
	color: #fff;
}

/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
	position: relative;
	color: #fff;
	display: flex;
	padding: 135px 20% 50px 20%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: space-around;
	background-color: #9553e7;
}

.hero--section--content-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}

.hero--section--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 22px;
	margin-left: 15%;
}

.hero--section--title {
	font-size: 75px;
	font-weight: 700;
	line-height: 90px;
	align-self: stretch;
}

.hero--section--title--color {
	color: #fff;
}

.hero--section-description {
	color: var(--darkblue);
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.hero--section--img {
	display: flex;
	width: 500px;
}

.hero--section--img > img {
	justify-content: center;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.hero--section--img > img:hover {
	transform: scale(1.02);
}

.wave {
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(./images/index_images/wave.png);
	background-size: 1000px 100px;
}

.wave1 {
	animation: animate 5s linear infinite;

}

@keyframes animate {
	0% {
		background-position-x: 0;
	}

	100% {
		background-position-x: 1000px;
	}
}

/* Hero Section Style End */

/* Skills Section Style */

.skills--section {
	display: flex;
	padding: 50px 20% 50px 20%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.skills--section--heading {
	color: var(--heading-color);
	font-size: 64px;
	font-weight: 700;
	line-height: 77px;
}

.skills--section--container {
	width: 100%;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 45px;
}

.skills--section--card {
	height: 100%;
	display: flex;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	flex: 1 0 0;
	border-radius: 10px;
	background: var(--bg-shade);
	min-height: 250px;
	border-bottom: 4px solid #fff;
}

.skills--section--card:hover {
	border-bottom: 4px solid var(--primary);
}

.skills--section--card:hover .skills--section--description {
	color: var(--hover-text);
}

.skills--section--img {
	display: flex;
	padding: 15px;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.skills--section--img > img {
	width: 50px;
}

.skills--section--img > img:hover {
	transform: scale(1.1);
}

.skills--section--card--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	align-self: stretch;
}

.skills--section--title {
	color: var(--heading-color);
	font-size: 32px;
	font-weight: 700;
	line-height: 45px;
}

.skills--section--description {
	color: var(--black);
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

/* Skills Style Ends */

/* About Us Style Start */
.about--section {
	display: grid;
	padding: 50px 10% 50px 20%;
	align-items: center;
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
}

.about--section--img>img {
	width: 100%;
	height: 100%;
}

.carousel-inner {
	border-radius: 10px;
}

/* About Us Ends */

/* Youtube Style Start*/

iframe {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 1200px;
	height: 675px;
	border: 0;
	border-radius: 10px;
}

/* Youtube Style End */

/**/
/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/* Make sure icons are inline */
}

/* Add a hover effect */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-discord {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-linkedin {
	background: #55ACEE;
	color: white;
}

/* Instagram */
.fa-instagram {
	background: #C13584;
	color: white;
}

/* YouTube */
.fa-youtube {
	background: #FF0000;
	color: white;
}

.social-row {
	text-align: center;
}
